*,
html,
body {
  margin: 0;
  padding: 0;
}

.navbtn {
  color: #1f2b24;
  transition: 0.5s ease-out;
}
.navbtn:hover {
  color: white;
}

.no-scroll {
  overflow: hidden;
}
#navbar-container {
  display: none;
  max-height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#btn-container {
  display: block;
}

.add-anim-right {
  animation: goRight 1s ease-out;
}
.add-anim-left {
  animation: goLeft 1s ease-out;
}

@keyframes goLeft {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(-12rem);
  }
}
@keyframes goRight {
  from {
    transform: translateX(-12rem);
  }
  to {
    transform: translateX(0rem);
  }
}

.btn {
  cursor: pointer;
}

.hero-section {
  height: 100vh;
}

.flipbook-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
