*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  /* overflow: hidden; */
}

.navbtn {
  color: #1f2b24;
  transition: 0.5s ease-out;
}
.navbtn:hover {
  color: white;
}

#navbar-container {
  display: none;
}
#btn-container {
  display: block;
}

.btn {
  cursor: pointer;
}
